@page "/getintouch"

<div class="text-center my-5">
    <div class="display-6 border-bottom">İletişim</div>
    <div class="lead mt-5">
        <i class="fa fa-phone bg-secondary text-white p-3 rounded-5 my-3"></i>
        <p>+(90)-111-222-33-44</p>

        <i class="fa-solid fa-address-book bg-secondary text-white p-3 rounded-5 my-3"></i>
        <p>İzmir</p>

        <i class="fa-solid fa-envelope bg-secondary text-white p-3 rounded-5 my-3"></i>
        <p>abc12@abc.com</p>
    </div>
</div>