@page "/getintouch"

<div class="text-center my-5">
    <div class="display-6 border-bottom">İletişim</div>
    <div class="lead mt-5">
        <a href="mailto:reanea.shop@gmail.com" class="text-decoration-none text-reset">
            <i class="fa-solid fa-envelope bg-secondary text-white p-3 rounded-5 my-3"></i>
            <p>reanea.shop@gmail.com</p>
        </a>

        <a href="https://taplink.cc/reaneashop" target="_blank" class="text-decoration-none text-reset">
            <i class="fa-solid fa-link bg-secondary text-white p-3 rounded-5 my-3"></i>
            <p>Taplink</p>
        </a>

        <a href="https://www.shopier.com/ShowProductNew/storefront.php?shop=ReaneaShop&sid=S3dneWp2bHZwbG9BT2J6SjBfLTFfIF8g"
            target="_blank" class="text-decoration-none text-reset">
            <i class="fa-solid fa-shop bg-secondary text-white p-3 rounded-5 my-3"></i>
            <p>Shopier</p>
        </a>

        <a href="https://www.facebook.com/people/Reanea-Reanea/pfbid02SVjguNv75Fq4PfrV25d4BaMZfTLBS1egeTL3VS7BZkrQM72zRw8Xc4YHZ7CEJFvkl/?mibextid=ZbWKwL"
            target="_blank" class="text-decoration-none text-reset">
            <i class="fa-brands fa-facebook fs-3 bg-secondary text-white p-3 rounded-5 my-3"></i>
            <p>Facebook</p>
        </a>
    </div>
</div>